# string based questions

(1) write a program to reverse a string.

In [1]:
country="India"
country

'India'

In [2]:
print(country[: : -1])  ## by string sclicing

aidnI

(2) Check if a string is palindrome

In [3]:
s=input("Enter a string: ")

Enter a string: noon

In [4]:
if (s==s[::-1]):
    print(s,"is a palindrome")
else:
    print(s,"is not a palindrome")

noon is a palindrome

A string is palindrome if the reverse of the string is same as original string.

(3) Convert a string in upper case

In [5]:
u= input("Enter the string:")

Enter the string:kesari

In [6]:
u.upper()

'KESARI'

(4) Convert a string into lower case

In [7]:
u.lower()

'kesari'

(5) Count the number of vowels in a string

In [15]:
vowels=0
a=input("Enter a string:")
a=a.lower()
for i in range(0,len(a)):     # i--> a temp variable to form a loop
    if a[i] in ("a","e","i","o","u"):  # [] used to access elements. a[i]---> elements of "a" has been accessed
        vowels=vowels+1
print("the number of vowels: ",vowels)

enter a string: nandan textiles
Total number of vowels in a string: 5

(6) Count the number of consonants in a string

In [27]:
consonants=0
v=input("Enter a string:")
v=v.lower()
for i in range(0,len(v)):
    if v[i] not in ("a","e","i","o","u"):
        consonants=consonants+1
print("the number of consonant: ",consonants)

Enter a string:nandan
the number of consonant:  4

(7) Remove all white spaces from the string

In [35]:
a="   ideapad  "
a

'   ideapad  '

In [36]:
a.replace(" ","")  #  replace(change this ,to this)

'ideapad'

(8) Find the length of the string withour using len() function.

In [41]:
z= input("enter a string: ")
count=0
for i in z:
    count=count+1

print(" length of the string is: ", count)

enter a string: noida
 length of the string is:  5

(9) Check if a string contains a specific word.

In [55]:
a= input(" Enter a string: ")
if "greater" in a:   ## 'in ' function
    print('the string contains "greater"')

 Enter a string: fear is not greater
the string contains "greater"

In [1]:
b=input(" enter a string: ")
if b.find("fox")!= -1:   ## 'find' function
    print("the string contains 'fox'")
else:
        print('the string does not contains "fox" ')

 enter a string: the most cunning animal is fox
the string contains 'fox'

explanation: return -1 if not matched. If matched return the lowest index.

(10) Replace a word in a string with another word

In [61]:
a="rabbit won the game"

In [62]:
a.replace('game','race')

'rabbit won the race'

(11) Count the occurance of word in a string:

In [2]:
b=" Donot talk just act, Donot say just show, Donot promise prove it "
b.split()

['Donot',
 'talk',
 'just',
 'act,',
 'Donot',
 'say',
 'just',
 'show,',
 'Donot',
 'promise',
 'prove',
 'it']

In [4]:
b.count('Donot')

3

In [6]:
b1=b.count("just")
b1

2

(12) Find the first occurance of word in a string

In [74]:
b="she is crazy but she is smart in her work "

In [78]:
b.find("is") # "is"-->has occured 2 times , 4 denotes the index position where "is" begins

4

In [82]:
b.index("she") # 0 is the index position of "she"

0

(13) Find the last occurance of word in a string

In [81]:
b.rfind("is") # finding from right to left. "is" begins in 21 index position

21

In [83]:
b.rindex("she")

17

Both find and index functions similarly but when a string is not found, index return error . Find return -1

(14) Split the string into list of two words

In [84]:
c="i love reading books,especially psychological stuffs"
c.split(",")

['i love reading books', 'especially psychological stuffs']

In [85]:
c.split(",")[1]  # split and sclice

'especially psychological stuffs'

In [86]:
c.split(",")[0]

'i love reading books'

(15) Join a list of words into a string: (Convert a list of words to a string)

In [15]:
d=["hello","we","are","learning","Python"]
type(d)

list

In [16]:
d_string=' '.join(d)  ## join string method
d_string

'hello we are learning Python'

In [17]:
d_string=','.join(d)  ## syntax: separater.join(list you want to convert into a string)
d_string

'hello,we,are,learning,Python'

(16) Convert a string where words are separated by spaces to one where words are separated by underscores.

In [1]:
quote=" the fear of losing will destroy your confidence"
quote

' the fear of losing will destroy your confidence'

In [2]:
quote.replace(" ",'_')

'_the_fear_of_losing_will_destroy_your_confidence'

(17) Check if a string starts with a specific word or phrase

In [3]:
quote

' the fear of losing will destroy your confidence'

In [7]:
quote.startswith(" the")

True

(18) Check if a string ends with a specific word or phrase

In [8]:
quote.endswith("confidence")

True

(19) Convert a string into title case

In [9]:
greetings=" hello everyone"
greetings.title()

' Hello Everyone'

(20) Find the longest word in a string

In [19]:
august= input("Enter a string:")

longest=max(august.split(),key=len)  # split and count the max letter's a word hold
longest

Enter a string:be bold and energitic

'energitic'

(21)  Find the shortest word in a string

In [21]:
april= input("enter a string:")

shortest=min(april.split(),key=len)  # key=fun ---> need to perform
shortest

enter a string:be bold and wise

'be'

(22) Reverse the order of words in a string.

In [24]:
# string sclicing
greet="Good morning"
greet=greet[::-1]
greet

'gninrom dooG'

In [26]:
# reversed by join() function

day="Tuesday"
day="".join(reversed(day))
day

'yadseuT'

(23) Check if a string is alphanumeric

In [8]:
moon="1lunar day"
moon.isalnum()

False

space is also included while checking for alphanumeric

In [9]:
moon="1lunarday"
moon.isalnum()

True

(24)Extract all digits from a string

In [35]:
satellite=" earth has 1 and mars has 2  "
numbers=[]    # empty list to append
for i in satellite:
    if i.isdigit():
        numbers.append(int(i))   ## append is used in case of list
print("the numbes is:",numbers)

the numbes is: [1, 2]

(25) Extract all alphabets from a string

In [22]:
moon="14 lunar days equal to 1 earth day"
string=""  # empty string to join
for i in moon:
    if i.isalpha():
        string=" ".join([string,i]) # string= string+" "+i ---> can also be used
print(" the alphabets are:",string)

 the alphabets are:  l u n a r d a y s e q u a l t o e a r t h d a y

the isalpha function will check if the character is alphabet or not. the join method will capture only the valid character which saatisfies the if condition.

(26) Count the number of upper case letters in a string

In [66]:
name= input("Enter a string:")
count=0
for i in name:
        if (i.isupper()):
            count=count+1
        
print("the number of upper case in a string:",count)

Enter a string:John Michael Roy
the number of upper case in a string: 3

(27) Count the number of lower case in a string

In [67]:
name= input("Enter a string:")
count=0
for i in name:
    if(i.islower()):
        count=count+1
print("the number of lower case in a string:",count)

Enter a string:John Michael Roy
the number of lower case in a string: 11

(28) Swap the case of each letter in a string

In [72]:
name= "John Michael Roy"

name= name.swapcase()
name

'jOHN mICHAEL rOY'

(29) Remove a specific word from a string

In [85]:
q=input("enter a string:")

enter a string:she is very tall

In [86]:
q=q.replace("very","")  ## "very" has been removed
q

'she is  tall'

(30) Check if a string is a valid email address

In [1]:
pip install validate_email

Collecting validate_email
  Downloading validate_email-1.3.tar.gz (4.7 kB)
Building wheels for collected packages: validate-email
  Building wheel for validate-email (setup.py): started
  Building wheel for validate-email (setup.py): finished with status 'done'
  Created wheel for validate-email: filename=validate_email-1.3-py3-none-any.whl size=5468 sha256=fcc342f908e3a0b1dd94356d4cb2cf60f7990c3a93a7c1721754aa74f844c780
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\35\c1\50\f0208860f0a0b7b0c0a6ff7684c5fd2776b36fc10cbb5f728d
Successfully built validate-email
Installing collected packages: validate-email
Successfully installed validate-email-1.3
Note: you may need to restart the kernel to use updated packages.

In [10]:
from validate_email import validate_email

email="123sofi@gamil.com"

is_valid=validate_email(email)

if is_valid:
    print("email address is valid")
else:
    print("email address is not valid")

email address is valid

(31) Extract the username from an email address string.

In [90]:
mail="dolma@gmail.com"

# use split to get user name
s=mail.split("@")[0]
print("the user name is",s)

the user name is dolma

(32) Extract the domain from an email address string.

In [91]:
mail="dolma@gmail.com"

# use split
t=mail.split("@")[1]
print("the domain name is",t)

the domain name is gmail.com

(33) Replace multiple spaces in a string with a single space

In [116]:
w="  I like to eat  ice_cream and      chocolate"

# remove multiple white space character with single space
result=" ".join(w.split())

In [117]:
result

'I like to eat ice_cream and chocolate'

(34) Check if a string is a valid URL

In [13]:
pip install validators

Collecting validators
  Downloading validators-0.21.2-py3-none-any.whl (25 kB)
Installing collected packages: validators
Successfully installed validators-0.21.2
Note: you may need to restart the kernel to use updated packages.

In [15]:

import validators   # import lib - validators 

check=validators.url("https://www.codespeedy.com/")
if check==True:
    print("URL is valid")
else:
        print("URL is not valid")

URL is valid

Explanation: validator module will check the URL. Install and inport the library "validators".

(35)Extract the protocol (http or https) from a URL string.

(36) Find the frequency of each character in a string

In [23]:
d="yolo life"
for i in d:
    frequency=d.count(i)
    print(str(i)+":"+str(frequency), end=".")

y:1.o:2.l:2.o:2. :1.l:2.i:1.f:1.e:1.

In [139]:
d="yolo life"
freq={}
for i in d:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1
print("frequency of each characte:",freq)

frequency of each characte: {'y': 1, 'o': 2, 'l': 2, ' ': 1, 'i': 1, 'f': 1, 'e': 1}

(37) Remove all punctuation from a string.

In [1]:
book='Python, is easy; but need - lot of ! practice'
print("the original string:",book)

punctuation_value='''!()_-[]{}:;,./@#$%^&*<>~'''

for i in book:
    if i in punctuation_value:
          book=book.replace(i,"")
            
print('string without punctuation:',book)

the original string: Python, is easy; but need - lot of ! practice
string without punctuation: Python is easy but need  lot of  practice

(38) Check if a string contains only digits

In [6]:
q=input("Enter a string: ")

if q.isdigit():
    print("the string contains only digit")
else:
        print("The string does not contains only digit")

Enter a string: 123
the string contains only digit

(39) Check if the string contains only alphabets

In [9]:
w=input("enter a string: ")
if w.isalpha():
    print("The string contains only alphabet")
else:
        print("The string does not contains only alphabet")

enter a string: hello all
The string does not contains only alphabet

(40) Convert a string to a list of characters

In [12]:
s=input("Enter a string: ")

t=s.split(" ")

print("List of characters:",t)

Enter a string: welcome to the journey
List of characters: ['welcome', 'to', 'the', 'journey']

(41) Check if two strings are anagram

In [6]:
## Anagram - Is a word or phrase that is formed by rearranging all the letters of a different word or phrase exactly once.

d1=input("enter a string1: ")
d2=input("enter a string2: ")

# sort the string and also convert them into lower case:
d1=sorted(d1.lower())
d2=sorted(d2.lower())

print("string1 after sorting",d1)
print("string2 after sorting",d2)
        
    # if sorted char array are same then it is an anagram
if(d1==d2):
        
    print("The strings are anagram")
else:
        print("the strings are not anagram")

enter a string1: race
enter a string2: care
string1 after sorting ['a', 'c', 'e', 'r']
string2 after sorting ['a', 'c', 'e', 'r']
The strings are anagram

# sorted works in string: (not sort)

d="sugi"
d=sorted(d)  # gives by ascending order(a -z)format
d

# how sort is used
f=[1,56,2,3]

f.sort()    ## sort - works on numeric values
f

(42) Encode a string using a Caesar cipher.

(43) Decode a Caesar cipher encoded string.

(44) Find the most frequent word from the string

In [20]:
from collections import Counter

data_set="No need to light a night light on a light night like tonight"

# split return list of all word in the stirng
split_it=data_set.split()
# Pass the split_it list to instance of Counter class
Counter=Counter(split_it)

most_freq=Counter.most_common(3) ## used to call words which is most frequent (i asked for 3 most freq)
print(most_freq)

[('light', 3), ('a', 2), ('night', 2)]

The function "most_common()' inside Counter will return the list of most frequent words formlist and its count.

(45) Find all unique words in a string

In [37]:
# Function to return all unique words

def UncommonWords (A,B):
    A=A.split()     ## split is used to convert string to list format
    B=B.split()
    x=[]            # empty list is created so that we can append
    for i in A:
        if i not in B:    ## done by indexing using if condition
            x.append(i)
            
    for i in B:
        if i not in A:
            x.append(i)
            
                          ###  x=list(set(x))  
    return x

In [38]:
A="God is great"
B="God is faith"

print(UncommonWords(A,B))

['great', 'faith']

In [27]:
## Other way:

def UniqueWords(C,D):
    setC=set(C.split())
    setD=set(D.split())
    
    # find the unique word in setC and setD and combine them
    Uncommon_words=setC.difference(setD).union(setD.difference(setC)) # ven diagram
    return list(Uncommon_words)

In [29]:
C="Greek for Greek"
D="learning from Greek for Greek"
print(UniqueWords(C,D))

['from', 'learning']

(46) Count the number of syllables in a string.

In [12]:
def count(word):
    return len(word.split("-"))
print(count("ho-tel-manage-ment"))

4

The number of syllables is the number of times the "-" symbol appears.

(47) Check if a string contains any special characters.

In [21]:
special_characters="!@#$%^&*(){}[]:;<>,/?"

s=input("Enter a string:")

if any (c in special_characters for c in s):
    print("yes")
else:
        print("no")

Enter a string:hello!
yes

(48) Remove the nth word from a string.

In [25]:
p="I love to eat fish"
p=p[:len(p)-1]  ## positive indexing
print(p)

I love to eat fis

In [26]:
q="i am not an organized person"
q=q[:-1]   ## negative indexing
q

'i am not an organized perso'

In [29]:
a="hello"
a=a[1:]
a

'ello'

(49)  Insert a word at the nth position in a string.

In [33]:
h="welcome to the new"
h=h +" "+ "home"
print(h)

welcome to the new home

(50) Convert a CSV string to a list of lists.

In [ ]:
import csv
with open ('sample.csv','r') as read_obj:
    
    # return a reader object which will iterate over lines in the given csv file.
    csv_reader=csv_reader(read_obj)
    
    # convert string to list
    list_of_csv=list(csv_reader)
    print(list_of_csv)

# List based problems

(1)  Create a list with integers from 1 to 10.

In [3]:
# using range
b=range(1,10)
b=list(b)
b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
type(b)

list

(2) Find the length of a list without using the `len()` function.

In [24]:
a=[43,56,78,89,90]
count=0
for i in a:
    count=count+1

print("length of list is:",count)

length of list is: 5

(3) Append an element to the end of a list.

In [26]:
fruit=["mango","orange","banana"]
fruit.append("grapes")
fruit

['mango', 'orange', 'banana', 'grapes']

(4) Insert an element at a specific index in a list.

In [35]:
w=["hi",1,2,3]
w

['hi', 1, 2, 3]

In [36]:
w.insert(3,"hello")   # "hello" has been inserted in 3nd index
w

['hi', 1, 2, 'hello', 3]

(5) Remove an element from a list by its value.

In [37]:
h=[100,200,300,"jam","jelly"]
h.remove("jam")
h

[100, 200, 300, 'jelly']

(6)  Remove an element from a list by its index

In [2]:
j=[1,2,3,"hi","hello"]
del j[4]
j

[1, 2, 3, 'hi']

(7) Check if an element exists in a list.

In [14]:
w=["hey",1,50,25,100]

# define a value for i
i=50 

if i in w:
    print(i," exist in the list")
else:
    print(i," does not exist in the list")

50  exist in the list

(8). Find the index of the first occurrence of an element in a list.

In [20]:
k=[10,5,25,15,300,400,200]

# search item
item=300

# find index of item in list
a=k.index(item)
print(f"index of {item} in the list: {a}")

index of 300 in the list: 4

In [21]:
# simple way
k.index(5)

1

(9) Count the occurrences of an element in a list.

In [25]:
import pandas as pd

In [34]:
b=[1,1,2,3,3,3,5,5,]
count=pd.Series(b).value_counts()
print("Element Count")
print(count)

Element Count
3    3
5    2
1    2
2    1
dtype: int64

In [40]:
# using loop

def count_x(lst,x):
    count=0
    for i in lst:  # for every "i" in lst .If it satisfies if condition then gets increased
        if (i==x):
            count=count+1
    return count

In [41]:
lst=[8,6,8,10,8,20,10,6,8]
x=6
print('{} has occured {} times'.format(x,count_x(lst,x)))

6 has occured 2 times

the count keeps increasing if the required element is found.

(10)  Reverse the order of elements in a list.

In [67]:
s=["maria","rose",45,75,200]
new_s=list(reversed(s))  
new_s

[200, 75, 45, 'rose', 'maria']

(11) Sort a list in ascending order.

In [74]:
age=[45,2,3,65,78,32]
age.sort()
print(age)

[2, 3, 32, 45, 65, 78]

(12) Sort a list in descending order.

In [72]:
age_1=[1,7,45,2,3,65,78,32,22,12]
age_1.sort(reverse=True)   
print(age_1)

[78, 65, 45, 32, 22, 12, 7, 3, 2, 1]

(13) Create a list of even numbers from 1 to 20.

In [77]:
e=range(1,21)  # create numbers form 1 to 20
e=list(e)
print(e)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [93]:
for i in e:
    if i%2 ==0:    #  the remainder is equal to zero
        
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

(14) Create a list of odd numbers from 1 to 20

In [95]:
# call variable name "e"
e

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [96]:
for i in e:
    if i%2 !=0:   #  the remainder is not equal to zero
        print(i, end=" ")

1 3 5 7 9 11 13 15 17 19

(15) Find the sum of all elements in a list

In [106]:
a=[2,4,5,3,9]
sum=0
for i in a:
    sum=sum+i
print("sum of all elements in 'a' is:",sum)

sum of all elements in 'a' is: 23

(16) Find the maximum value in a list.

In [107]:
b=[200,30,400,1000,3,56]
max(b)

1000

(17) Find the minimum value in a list.

In [111]:
b=[200,30,2,400,1000,3,56,]
min(b)

2

(18) Create a list of squares of numbers from 1 to 10

In [112]:
s=range(1,11)
s=list(s)
s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [113]:
square=[]
for i in s:
    num=i*i
    square.append(num)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

(19) Create a list of random numbers.

In [116]:
import random
r=random.sample(range(50,61),7)  # (range(start,stop),Number random variables )
print(r)

[57, 52, 59, 51, 53, 54, 60]

(20) Remove duplicates from a list.

In [125]:
test_list=[1,5,3,6,3,5,6,1]
print("The original list is: " + str(test_list))

r=[]
for i in test_list:
    if i not in r:
        r.append(i)
print(" The list after removing duplicated: " +str(r))

The original list is: [1, 5, 3, 6, 3, 5, 6, 1]
 The list after removing duplicated: [1, 5, 3, 6]

(21) Find the common elements between two lists.

In [133]:
a=[1,2,3,4,5,6]
b=[5,6,7,8,9,10]
print(set(a).intersection(b))

{5, 6}

(22) Find the difference between two lists.

In [140]:
a=[1,2,3,4,5,6]
b=[5,6,7,8,9,10]

difference=[]
for item in a:
    if item not in b:  # set(a)-set(b)
        difference.append(item)
print(difference)

[1, 2, 3, 4]

(23) Merge two lists.

In [143]:
q1=[1,2,3]
q2=[4,5,6]
merge=set(q1).union(set(q2))
merge

{1, 2, 3, 4, 5, 6}

(24)  Multiply all elements in a list by 2.

In [146]:
elements=[1,2,3,4,6,8,10]
x=[]
for i in elements:
    x=i*2
    print(x)

2
4
6
8
12
16
20

(25) Filter out all even numbers from a list.

In [149]:
numbers=[10,11,12,13,14,15]
n=[]
for i in numbers:
    if i%2 ==0:
        n.append(i)
print(n)

[10, 12, 14]

(26) Convert a list of strings to a list of integers

In [152]:
list=['1','5','-8','23']   # list of string
r=[eval(i) for i in list]   # Using eval()
print("Modified list is:",r)

Modified list is: [1, 5, -8, 23]

eval() function parse the expression argument and evaluate it as a python expression. If the expression is integer then argument converts them to integer.

(27) Convert a list of integers to a list of strings.

In [154]:
a=[1,2,50,20,30]
p=[str(i) for i in a]
print("Modified string is:",p)

Modified string is: ['1', '2', '50', '20', '30']

(28) Flatten a nested list.

In [161]:

 # Create a nested list
my_list=[[1],[2,3],[4,5,6,7]]
flat_list=[]

for sublist in my_list:
    for num in sublist:
        flat_list.append(num)
        
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

Create an empty list i.e; flat list. Access each element of the sublist using a nested loop and append that element to "flat list"

(29) Create a list of the first 10 Fibonacci numbers.

In [26]:
num=10
n1,n2=0,1   # given value for n1 and n2
print("Fibonacci series:",n1,n1,end=" ")
for i in range(2,num): # range starts from 2,since the first two no: has been allocated to n1 and n2
    n3=n1+n2
    n1=n2
    n2=n3
    print(n3,end=" ")
    
print()

Fibonacci series: 0 0 1 2 3 5 8 13 21 34

(30) Check if a list is sorted.

In [4]:
t_list=[1,4,5,8,10,12,34,13]
print("Original list:",t_list)

# check for sort list
flag=0
if(t_list==sorted(t_list)):
    flag=1
if (flag):
    print("Yes, list is sorted")
else:
    print("No, list is not sorted")

Original list: [1, 4, 5, 8, 10, 12, 34, 13]
No, list is not sorted

(31) Rotate a list to the left by `n` positions.

In [86]:
m=[5,10,15,20,25,30,35,40]
rotate_left=int(input("enter position to left rotate list items= "))
print(m)

left_rotated_list=m[rotate_left:] + m[:rotate_left] # begin from left
print("Final list after rotating")
print(left_rotated_list)

enter position to left rotate list items= 3
[5, 10, 15, 20, 25, 30, 35, 40]
Final list after rotating
[20, 25, 30, 35, 40, 5, 10, 15]

(32) Rotate a list to the right by `n` positions.

In [87]:
m1=[5,10,15,20,25,30,35,40]
rotate_right=int(input("enter position to right rotate list items= "))
print(m1)

right_rotated_list=m1[-rotate_right:]+m1[:-rotate_right]  #  right rotation (clockwise) , count from right side(backwards)
print("Final list after rotating")
print(right_rotated_list)

enter position to right rotate list items= 3
[5, 10, 15, 20, 25, 30, 35, 40]
Final list after rotating
[30, 35, 40, 5, 10, 15, 20, 25]

(33) Create a list of prime numbers up to 50

In [82]:
def number(n):
    prime=[]
    for i in range(2,n+1):
        for j in range(2,i):  # if the given number is divisible by any number btw this range. it is not prime.
            if i%j==0:
                break
        else:
                prime.append(i)
    return prime

In [83]:
prime_list=number(50)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

(34) Split a list into chunks of size `n`.

In [93]:
my_list=[10,22,34,4,5,68,7,88,9]
start=0
end=len(my_list)
step=3
for i in range(start,end,step): # 
    x=i
    print(my_list[x:x+step])

[10, 22, 34]
[4, 5, 68]
[7, 88, 9]

(35) Find the second largest number in a list.

In [10]:
diary=[2000,2001,2010,1997,1956,2020,2001,2010]
diary=list(set(diary))  # to avoid duplicate values
diary.sort()  # sort them in ascending order

print("second largest number in a list is: ",diary[-2])

second largest number in a list is:  2010

(36) Replace every element in a list with its square.

In [36]:
def square_list(sq):
    for i in sq:
        sq[sq.index(i)]=i**2
    print(sq)
    
sq=[1,2,3,4,5]

square_list(sq)

[1, 16, 9, 4, 25]

In [34]:
# other way
sq=[1,2,3,4,5]
sq=list(map(lambda i:i**2,sq))  # lambda function- used as a single line statement
sq

[1, 4, 9, 16, 25]

(37) Convert a list to a dictionary where list elements become keys and their
indices become values.

In [43]:
vegetables=["carrot","raddish","beans","beetroot","cabbage"]

# convert list to dictionary
veg_dict={k:v for v,k in enumerate(vegetables)} 
                                #veg_dict=dict(enumerate(vegetables)) -- used for index as key, element as value
print(veg_dict)

{'carrot': 0, 'raddish': 1, 'beans': 2, 'beetroot': 3, 'cabbage': 4}

Instead of range , we can use enemurate() function. It allows us to iterate through a sequence but it keeps track of both the index and the element. The function takes in an iterable as an argument such as list, tuple, string, set,dictionary.

In [44]:
# Using range:

vegetables=["carrot","raddish","beans","beetroot","cabbage"]
m_dict={vegetables[i]:i for i in range(0,len(vegetables))}    # mentioned how key and value must be formed
m_dict

{'carrot': 0, 'raddish': 1, 'beans': 2, 'beetroot': 3, 'cabbage': 4}

(38) Shuffle the elements of a list randomly

In [48]:
import random

f=["apple","banana","cucumber","dragonfruit"]
print("Input list:",f)
      
random.shuffle(f)      
print("shuffled list:",f)

Input list: ['apple', 'banana', 'cucumber', 'dragonfruit']
shuffled list: ['cucumber', 'apple', 'banana', 'dragonfruit']

Imort random and Use random.shuffle() function to shuffle all the elements randomly within the list.

(39) Create a list of the first 10 factorial numbers.

In [2]:
def factorial(x):
    if x==1:
        return 1
    else:
        return (x*factorial(x-1))

In [3]:
x=7
print("the factorial of",x,"is",factorial(x))

the factorial of 7 is 5040

(40) Check if two lists have at least one element in common.

In [7]:
l1=[1,2,3,4,5]
l2=[4,5,6,7,8]
flag=0
for i in l2:
    if i in l1:
        flag=1
if flag==1:
    print("Yes, there is a Common element")
else:
    print("No common element")

Yes, there is a Common element

(41) Remove all elements from a list

In [11]:
d=[54,46,78,32,56]
d[:]=[]    # slice assignment has been used. can aslo use clear()
print(d)

[]

(42) Replace negative numbers in a list with 0.

In [16]:
list_1=[1,-2,3,10,15,-6,20]
print("Original list:",list_1)
for i in range(0,len(list_1)):
    if list_1[i]<0:
        list_1[i]=0
        
print("replaced_list:",list_1)

Original list: [1, -2, 3, 10, 15, -6, 20]
replaced_list: [1, 0, 3, 10, 15, 0, 20]

one line equation:
list_1=[1,-2,3,10,15,-6,20]
replaced_list=[0 if i<0 else i for i in list_1]

(43) Convert a string into a list of words.

In [22]:
given_string="Trust the timing and work on the process"
list=given_string.split()
list

['Trust', 'the', 'timing', 'and', 'work', 'on', 'the', 'process']

(44) Convert a list of words into a string.

In [23]:
given_list=["i","love","my","life"]
string=" ".join(given_list)
string

'i love my life'

(45) Create a list of the first `n` powers of 2.

In [6]:
def problem(n):
    power=n
    p_list=[]
    for i in range(1,n+1):
        number=i**2   ## power of 2. 
        p_list.append(number)
    return p_list

In [7]:
problem(5)

[1, 4, 9, 16, 25]

(46) Find the longest string in a list of strings.

In [50]:
given_list_of_string=["Trust","the","process"]
print("The original string:",given_list_of_string)

r=max(given_list_of_string,key=len)
print("longest string:",r)

The original string: ['Trust', 'the', 'process']
longest string: process

(47) Find the shortest string in a list of strings.

In [52]:
given_list_of_string=["Trust","the","process"]
print("The original string:",given_list_of_string)

r1=min(given_list_of_string,key=len)
print("shortest string:",r1)

The original string: ['Trust', 'the', 'process']
shortest string: the

(48) Create a list of the first `n` triangular numbers.

In [37]:
 def triangular_series(n):
    triangular_number=[]
    # for each iteration increase j by 1 and add it into k
    for i in range(1,n+1):
            triangular_formula= i * (i + 1) // 2 
            triangular_number.append(triangular_formula)
    return triangular_number

In [38]:
n=5
triangular_series(n)

[1, 3, 6, 10, 15]

The triangular number sequence is the number of forms equilateral triangle arranged in series of sequence.
(n(n+1))/2 = formula . (the seq obtained form this formula)

(49) Check if a list contains another list as a subsequence.

In [76]:
test_list=[9,4,5,8,10]
sub_list=[10,5]
flag=0
if(set(sub_list).issubset(set(test_list))):
    flag=1

if (flag==1):
    print("Yes,list is subsest of other")
else:
    print("No,it is not a subset")

Yes,list is subsest of other

(50) Swap two elements in a list by their indices.

In [67]:
s=[9,11,5,3,6,27,40]
print("original list:",s)

s[1],s[3]=s[3],s[1]   # element in index 1 and 3 has been swapped
print("swapped list:",s)

original list: [9, 11, 5, 3, 6, 27, 40]
swapped list: [9, 3, 5, 11, 6, 27, 40]

# Tuple based practice problems:

(1) Create a tuple with integers from 1 to 5.

In [87]:
a=range(1,6)
a=tuple(a)
a

(1, 2, 3, 4, 5)

In [88]:
type(a)

tuple

(2)  Access the third element of a tuple.

In [6]:
t=(10,20,30,40,50)
t=t[3]
t

40

(3) Find the length of a tuple without using the `len()` function.

In [8]:
count=0
t1=(5,10,15,20,25,30,35,40)
for i in t1:
    count=count+1
print("The length of tuple t1 is:",count)

The length of tuple t1 is: 8

(4) Count the occurrences of an element in a tuple.

In [9]:
t2=(10,20,30,10,25,35,10,25,30)
x=[i for t2,i in enumerate(t2) if i==10]
print("The element 10 occurs",len(x),"times")

The element 10 occurs 3 times

(5)  Find the index of the first occurrence of an element in a tuple.

In [10]:
t2=(10,20,30,10,25,35,10,25,30)
t2.index(10)

0

(6) Check if an element exists in a tuple.

In [11]:
w=("hey",1,50,25,100)

# define a value for i
i=50 

if i in w:
    print(i," exist in the tuple")
else:
    print(i," does not exist in the tuple")

50  exist in the tuple

(7) Convert a tuple to a list.

In [15]:
tup=(1,2,3,6,7,8)
l=list(tup)
l

[1, 2, 3, 6, 7, 8]

(8)  Convert a list to a tuple

In [14]:
lt=[20,30,40,50]
t=tuple(lt)
t

(20, 30, 40, 50)

(9) Unpack the elements of a tuple into variables.

In [20]:
# this lines PACKS values into variable a
a=("IIT Chennai",40000,"Engineering")

# this lines UNPACKS values into variable a
(college,fee,type_ofcollege)=a

print(college)
print(fee)
print(type_ofcollege)

IIT Chennai
40000
Engineering

NOTE: A very powerful tuple assignment feature that assigns the right-hand side of values into the left-hand side.It is call unpackinig of a tuple of values into variables. The number of variables on left side should be equal to number of values given in a tuple.
In packing, we put values into new tuple. In unpacking,we extract those values into a single variable.

(10) Create a tuple of even numbers from 1 to 10.

In [2]:
n=range(1,11)
n=tuple(n)
print("Tuple of number 1 to 10: ",n)
for i in range(0,11):
    if i%2==0:
        print("the even numbers are:",i)

Tuple of number 1 to 10:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
the even numbers are: 0
the even numbers are: 2
the even numbers are: 4
the even numbers are: 6
the even numbers are: 8
the even numbers are: 10

(11) Create a tuple of odd numbers from 1 to 10

In [4]:
o=range(1,11)
o=tuple(o)
print("Tuple of number 1 to 10: ",o)

for i in range(0,11):
    if i%2!=0:
        print("the odd numbers are:",i)

Tuple of number 1 to 10:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
the odd numbers are: 1
the odd numbers are: 3
the odd numbers are: 5
the odd numbers are: 7
the odd numbers are: 9

(12) Concatenate two tuples.

In [7]:
t1=(1,2,3,4,5)
t2=(6,7,8,9,10)
print("the original tuple 1: ",t1)
print("the original tuple 2: ",t2)
t=t1+t2
print("tuple after concatenation:",t)

the original tuple 1:  (1, 2, 3, 4, 5)
the original tuple 2:  (6, 7, 8, 9, 10)
tuple after concatenation: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

(13)  Repeat a tuple three times

In [9]:
res=(35,45,55,65,75,200,100)
repeat_tuple= res*3
print(repeat_tuple)

(35, 45, 55, 65, 75, 200, 100, 35, 45, 55, 65, 75, 200, 100, 35, 45, 55, 65, 75, 200, 100)

(14) Check if a tuple is empty.

In [12]:
tuples=()
if len(tuples)==0:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is empty

(15)  Create a nested tuple.

In [15]:
emp=((100,"Varun",9000),(20,"Nihaarika",5500),(30,"vanjana",89000))
emp

((100, 'Varun', 9000), (20, 'Nihaarika', 5500), (30, 'vanjana', 89000))

In [16]:
type(emp)

tuple

A tuple inside another tuple is called nested tuple. (We can't insert a tuple as done in list)

(16) Access the first element of a nested tuple.

In [5]:
def extract(emp):
    return[item[0] for item in emp]  # first element-- item[0]

In [6]:
emp=((100,"Varun",9000),(20,"Nihaarika",5500),(30,"vanjana",89000))
print(extract(emp))

[100, 20, 30]

(17)  Create a tuple with a single element.

In [7]:
a=(1,)
type(a)

tuple

(18) Compare two tuples.

In [9]:
d1=(11,22,33,44,55)
d2=(44,55,66,77,88)
print(d1<d2)
print(d1>d2)
print(d1==d2)

True
False
False

(19) Delete a tuple.

In [27]:
d2=(11,22,33,44,55,66,77)
print("before deleting:",d2)
del d2

print("After deleting tuple: ")

before deleting: (11, 22, 33, 44, 55, 66, 77)
After deleting tuple:

(20) Slice a tuple

In [28]:
flowers=("jasmine","rose","lilly","lotus")
flowers[2]

'lilly'

In [33]:
flowers[1:3]

('rose', 'lilly')

(21) Find the maximum value in a tuple.

In [35]:
marks=(45,32,99,87,12)
marks=max(marks)
print("Maximum of marks: ",marks)

Maximum of marks:  99

(22) Find the minimum value in a tuple

In [41]:
marks=(45,32,99,87,12)
marks=min(marks)
print("Minimum of marks: ",marks)

Minimum of marks:  12

(23) Convert a string to a tuple of characters.

In [10]:
given_string="work while they sleep"

my_tuple=tuple(given_string.split())             
my_tuple

('work', 'while', 'they', 'sleep')

(24) Convert a tuple of characters to a string.

In [11]:
given_tuple=('make','hay','while','the','sun','shine')
to_string=" ".join(given_tuple)
to_string

'make hay while the sun shine'

(25)  Create a tuple from multiple data types.

In [12]:
tuple_types=("hi",34,3.0,False)
print(tuple_types)

('hi', 34, 3.0, False)

(26)  Check if two tuples are identical.

In [16]:
mixed_types_1=("hey",12,345,4.9,True)
mixed_types_2=("hey",12,345,4.9,True)
if (mixed_types_1==mixed_types_2):
    print("The two tuples are identical")
else:
    print("The two tuples are not identical")

The two tuples are identical

(27) Sort the elements of a tuple.

In [27]:
ele=(99,72,23,25,76,45)
sorted_tuple=sorted(ele)
print("sort the element of a tuple:",sorted_tuple)

sort the element of a tuple: [23, 25, 45, 72, 76, 99]

(28) Convert a tuple of integers to a tuple of strings.

In [6]:
# original tuple
tuple_integer=(10,20,30,40,50)
print("The tuple of integer:",tuple_integer)

# using map() to perform conversion
string_tuple=tuple(map(str,tuple_integer)) 

# modified tuple
print("tuple to string: ",string_tuple)

The tuple of integer: (10, 20, 30, 40, 50)
tuple to string:  ('10', '20', '30', '40', '50')

the map() function executes a specified function for each item in an iteration(lisst,tuple,set)
syntax: map(function,iteration)

(29) Convert a tuple of strings to a tuple of integers

In [4]:
# original tuple
test_tuple=("1","4","3","6","7")
print("The tuple of string:",test_tuple)

# using map() to perform conversion
numeric_tuple=tuple(map(int,test_tuple)) 

# modified tuple
print("tuple to integer: ",numeric_tuple)

The tuple of string: ('1', '4', '3', '6', '7')
tuple to integer:  (1, 4, 3, 6, 7)

(30) Merge two tuples.

In [9]:
A=(10,20,30)
B=("a","b","c")
print("The first tuple:",A)
print("the second tuple:",B)
C=A+B
print("merged tuple:",C)

The first tuple: (10, 20, 30)
the second tuple: ('a', 'b', 'c')
merged tuple: (10, 20, 30, 'a', 'b', 'c')

Can also type change tuple to list. And perform extend function.
listA.extend(listB)

(31) Flatten a nested tuple.

In [7]:

import itertools

# initializing tuple
test_tuple=((4,5),(4,7),(8,9),(10,11)),(((9,10),(3,4)))

print("nested tuple:",test_tuple)

# Flatten nested tuples using itertools.chain.form_iterable()
res=tuple(itertools.chain.from_iterable(test_tuple))

print("the flattened tuple:",res)

nested tuple: (((4, 5), (4, 7), (8, 9), (10, 11)), ((9, 10), (3, 4)))
the flattened tuple: ((4, 5), (4, 7), (8, 9), (10, 11), (9, 10), (3, 4))

itertools.chain.from_iterable() method to flatten the nested tuple.

(32) Create a tuple of the first 5 prime numbers

In [93]:
def number(n):
    prime=[]
    for i in range(2,n+1):
        for j in range(2,i):  # if the given number is divisible by any number btw this range. it is not prime.
            if i%j==0:
                break
        else:
                prime.append(i)
    return prime

In [100]:

prime_tuple=number(11)
print(tuple(prime_tuple))

(2, 3, 5, 7, 11)

(33) Check if a tuple is a palindrome.

In [4]:
x=(1,4,3,4,1)
print("the original tuple:",x)

# reversing the tuple
r=x[::-1]

# checking if palindrome
if x==r:
    print("this tuple is palidrome",r)

the original tuple: (1, 4, 3, 4, 1)
this tuple is palidrome (1, 4, 3, 4, 1)

(34) Create a tuple of squares of numbers from 1 to 5.

In [3]:
tup=()
for i in range(1,6):
    tup=tup +(i**2,)  # single tuple got created  to add
    
print("the square of numbers from 1 to 5:",tup)

the square of numbers from 1 to 5: (1, 4, 9, 16, 25)

(35) Filter out all even numbers from a tuple.

In [36]:
items=(19,25,32,44,11,66,98)
print("tuple items:",items)

# filter even numbers from a tuple 
for i in items:
    if(i%2==0):
        print("even numbers",i)

tuple items: (19, 25, 32, 44, 11, 66, 98)
even numbers 32
even numbers 44
even numbers 66
even numbers 98

(36) Multiply all elements in a tuple by 2.

In [64]:
t=(1,2,3,4)
new_t=[i*2 for i in t]
print(new_t)

[2, 4, 6, 8]

(37) Create a tuple of random numbers.

In [71]:
import random
import numpy as np

# Generate a random element
x=np.random.randint(10,20)
print(x)

15

In [72]:
# generate tuple through array
z=np.array([x])
Tuple_1=tuple(z)
print(Tuple_1)
print(type(Tuple_1))

(15,)
<class 'tuple'>

import random - to generate random elements.
After an element is generated. Meanwhile, integer values can't directly be used to generate a tuple . so, change the integer value to an array type as tuple can be generated through an array.

(38)  Check if a tuple is sorted.

In [76]:
d=(1,2,10,20)
# check if tuple is sorted
print(d==tuple(sorted(d)))

True

(39) Rotate a tuple to the left by `n` positions.

In [88]:
n=(9,8,7,6,5,4)
rotate_left=int(input("enter position to left rotate tuple items= "))
print(n)

left_rotated_tuple=n[rotate_left:] + n[:rotate_left] # begin from left
print("Final tuple after rotating")
print(left_rotated_tuple)

enter position to left rotate tuple items= 4
(9, 8, 7, 6, 5, 4)
Final tuple after rotating
(5, 4, 9, 8, 7, 6)

(40) Rotate a tuple to the right by n positions.

In [89]:
n=(9,8,7,6,5,4)
rotate_right=int(input("enter position to right rotate tuple items= "))
print(n)

right_rotated_tuple=n[rotate_right:] + n[:rotate_right] # begin from rightside(backwards)
print("Final tuple after rotating")
print(right_rotated_tuple)

enter position to right rotate tuple items= 3
(9, 8, 7, 6, 5, 4)
Final tuple after rotating
(6, 5, 4, 9, 8, 7)

(41) Create a tuple of the first 5 Fibonacci numbers.

In [102]:
lst=[0,1]
n1,n2=0,1
for i in range(0,6): 
    n3=n1+n2
    n1=n2
    n2=n3
    lst.append(n3)
    tup=tuple(lst)
print("fibonacci series:",tup)

fibonacci series: (0, 1, 1, 2, 3, 5, 8, 13)

In [110]:
## or ## 

def make_fibonacci(n):
    fib=[]  # create empty list 
    a,b=0,1
    for i in range(n):
        a,b=b, a+b
        fib.append(a)
    return tuple(fib)

In [111]:
make_fibonacci(5)

(1, 1, 2, 3, 5)

(42) Create a tuple from user input.

In [118]:
t=tuple(input('enter a number: '))
print(t)

enter a number: 6
('6',)

In [119]:
type(t)

tuple

(43) . Swap two elements in a tuple.

In [3]:
tup=(1,2,3)
#convert the tuple to list
ls=list(tup)
#swap the elements in the list using index
ls[1],ls[2]=ls[2],ls[1]
# create new tuple form the list elements
new_tup=tuple(ls)

print(new_tup)

(1, 3, 2)

Tuples are immutable and cannot be modified after they were created.
so, create a list form elements of tuple.
swap the revelant elements in the list using index.
create new tuple form the list of elements.

(44) Reverse the elements of a tuple.

In [5]:
a=(200,300,"hello")
a=a[::-1]
print(a)

('hello', 300, 200)

(45)  Create a tuple of the first `n` powers of 2.

In [17]:
def problem(n):
    p_list=[]
    for i in range(1,n+1):
        number=2**iz   ## power of 2. 
        p_list.append(number)
    return tuple(p_list)

In [18]:
problem(5)

(2, 4, 8, 16, 32)

(46) Find the longest string in a tuple of strings.

In [19]:
country=("cananda","India","australia","US")
long=max(country,key=len)
long

'australia'

(47) Find the shortest string in a tuple of strings.

In [20]:
country=("cananda","India","australia","US")
long=min(country,key=len)
long

'US'

(48) Create a tuple of the first `n` triangular numbers.

In [120]:
n=10
triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print(triangular_numbers)

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

(49)  Check if a tuple contains another tuple as a subsequence.

(50) Create a tuple of alternating 1s and 0s of length `n`.

In [114]:
a_tuple=tuple(i%2 for i in range (1,11))
print(a_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [115]:
a_tuple=tuple(i%2==0 for i in range (1,11))
print(a_tuple)

(False, True, False, True, False, True, False, True, False, True)

#  set based practice problems:

(1) Create a set with integers from 1 to 5.

In [35]:
set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

(2) Add an element to a set.

In [31]:
set_A={20,30,4,5}
type(set_A)

set

In [32]:
set_A.add(500)
print(set_A)

{4, 5, 500, 20, 30}

(3) Remove an element from a set

In [34]:
set_B={100,200,500,300,8000,900}
set_B.remove(8000)
set_B

{100, 200, 300, 500, 900}

(4) Check if an element exists in a set.

In [12]:
set_B={100,200,500,300,8000,900,8}

item=int(input("enter the element: "))
   
if item in set_B:
      print(item,"exist in set")
else:
      print(item,"does not exist in set")

enter the element: 8
8 exist in set

(5)Find the length of a set without using the `len()` function.

In [14]:
set_c={10,20,50,30,80,90,8}
count=0
for i in set_c:
    count=count+1
print("the length of set_c is: ",count)

the length of set_c is:  7

(6) Clear all elements from a set.

In [28]:
set_d={1,2,3,4,10,20,50,30,80,90,8}

set_d

{1, 2, 3, 4, 8, 10, 20, 30, 50, 80, 90}

In [30]:
set_d.clear()

In [31]:
set_d

set()

(7) Create a set of even numbers from 1 to 10.

In [36]:
even_num=set()   # empty set
num=int(input("enter a number:"))
for i in range(1,num+1):
    if i%2==0:
        even_num.add(i)
print("the set of even numbers from 1 to 10 : ",even_num)

enter a number:10
the set of even numbers from 1 to 10 :  {2, 4, 6, 8, 10}

(8) Create a set of odd numbers from 1 to 10.

In [41]:
odd_num=set()   # empty set
n=int(input("enter a number:"))
for j in range(1,n+1):
    if j%2!=0:
        odd_num.add(j)
print("the set of odd numbers from 1 to 10 : ",odd_num)

enter a number:10
the set of odd numbers from 1 to 10 :  {1, 3, 5, 7, 9}

(9) Find the union of two sets.

set1={1,3,5,7,9}
set2={2,4,6,8,10}
union_set=set1.union(set2)
union_set

(10) Find the intersection of two sets.

In [44]:
A={"hema","ragini","reshu","ragavi"}
B={"reshu","dolma","leema","rose"}
common_item=A.intersection(B)
common_item

{'reshu'}

(11) Find the difference between two sets.

In [45]:
C={10,20,30,40,50}
D={40,50,60,70,80}
print(C-D) # C.difference(D)

{10, 20, 30}

(12) Check if a set is a subset of another set.

In [46]:
C={10,20,30,40,50}
D={40,50,60,70,80}
print(C.issubset(D))  # all the items of C is not present in D

False

In [48]:
C={40,50}
D={40,50,60,70,80}
print(C.issubset(D))  # all the items of C is present in D

True

(13) Check if a set is a superset of another set

In [49]:
E={1,2,3,4,5,6}
F={1,2,3}

print(E.issuperset(F)) # (or) print(A>=B)

True

set E is superset of set F, as all elements in setF was in setE

(14) Create a set from a list.

In [52]:
lst=["rain",12,"happy"]
print("the list is:",lst)

set_Q=set(lst)
print("list to set :",set_Q)

the list is: ['rain', 12, 'happy']
list to set : {'rain', 12, 'happy'}

(15) Convert a set to a list.

In [53]:
s={'mohan','rahul','124',9894}
type(s)

set

In [54]:
l=list(s)
l

['124', 'mohan', 9894, 'rahul']

(16) Remove a random element from a set.

In [63]:

set_k={"its","raining","heavily","at",12}
set_k.pop()   # pop- to remove an element randomly
print(set_k)

{'its', 12, 'heavily', 'raining'}

(17) Pop an element from a set.

In [70]:
s1={9,8,6}
s1.pop()
print(s1)

{9, 6}

(18) Check if two sets have no elements in common.

In [65]:
s1={1,2,3}
s2={4,5,6}
print(s1.isdisjoint(s2))   # disjoint-if no common element is found

True

(19) Find the symmetric difference between two sets.

In [69]:
s3={1,2,3,4,5}
s4={6,7,3,9,4}
print(s3.symmetric_difference(s4))  # element 4 and 3 is common

{1, 2, 5, 6, 7, 9}

symmetric difference - used to get elements present in either of the two sets but not common element.

(20) Update a set with elements from another set.

In [75]:
s5={5,6,7,8,9,10}
s6={10,20,30,40,50}
s5.update(s6)
print(s5)

{5, 6, 7, 8, 9, 10, 40, 50, 20, 30}

(21) Create a set of the first 5 prime numbers.

In [19]:
values={1,2,3,4,5,6,7,8,9,10}

e_set=set()

for i in range(1,len(values)+1):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        e_set.add(i)
            
print("the prime numbers are:",e_set)

the prime numbers are: {1, 2, 3, 5, 7}

(22) Check if two sets are identical.

In [12]:
num1={1,2,3}
num2={1,2,5}
if (num1.symmetric_difference(num2))==0:    # num1 and num2 does not hold same elements
    print("both sets are idendical")
else:
    print("both sets are not identical")

both sets are not identical

symmetric_difference eliminate common elements. so ,the sets wont have same elements.

(23) Create a frozen set.

In [ ]:
exp=(3,4,5,6,2)
frozen_set=frozenset(exp) 
                  #frosen set is an immutable version of python set object.
print(type(exp))
print(type(frozen_set))

frosen set is an immutable version of python set object. Elements in the set can be modified but frozen set elements remain the sam after creation.

(24) Check if a set is disjoint with another set.

In [13]:
import ast   

my_set_1=set(input("enter space-separated words set_1:").split( ))
print(my_set_1)
my_set_2=set(input("enter space-separated words set_2:").split( ))
print(my_set_2)

if my_set_1==my_set_2:
    print("both sets are not a disjoint")
else:
    print("both sets are disjoint")

enter space-separated words set_1:1 2 3 4 5
{'4', '1', '3', '5', '2'}
enter space-separated words set_2:1 2 3 4 5
{'4', '1', '3', '5', '2'}
both sets are not a disjoint

(25)  Create a set of squares of numbers from 1 to 5.

In [46]:
sq_of_set=set()

for i in range(1,6):
    s=i**2
    sq_of_set.add(s)
    
print(sq_of_set)

{1, 4, 9, 16, 25}

create an empty set and add the elements in it.

(26) Filter out all even numbers from a set.

In [56]:
a={1,2,3,4,5,6,7,8,9,10}

empty_set=set()

for i in a:
    if i%2==0:
        empty_set.add(i)
    
print("filtered even numbers are: ",empty_set)

filtered even numbers are:  {2, 4, 6, 8, 10}

(27) Multiply all elements in a set by 2.

In [17]:
b={1,2,3,4,5,6,7,8,9,10}
print("The initial elements:",b)
empty_set_1=set()

for i in b:
    m=i*2
    empty_set_1.add(m)
    
print("multiplied elements by 2 are: ",empty_set_1)

The initial elements: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
multiplied elements by 2 are:  {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

(28)  Create a set of random numbers.

In [20]:
import random

q=set()
n=5
for i in range(n):
    q.add(random.randint(1,5))
    
print(q)

{1, 2, 3, 5}

(29) Check if a set is empty.

In [31]:
s=set()

if len(s)==0:
    print("set is empty")
else:
    print("set is not empty")

set is empty

(30)  Create a nested set (hint: use frozenset).

In [33]:
w=set([frozenset([1,2]),frozenset([3,4])])
w

{frozenset({3, 4}), frozenset({1, 2})}

set within set

(31) . Remove an element from a set using the discard method.

In [34]:
s={10,20,30,40,50}
s.discard(30)

In [35]:
print(s)

{40, 10, 50, 20}

(32) Compare two sets.

In [47]:
s2={100,200,300,400,500}
s1={600,700,800,900,100}

if s1==s2:
    print(True)
else:
    print(False)

False

(33) Create a set from a string.

In [48]:
string="Hello World"

# convert  to set

s=set(string)
print(s)

{'W', 'l', ' ', 'H', 'o', 'd', 'r', 'e'}

A set does not hold duplicate values

(34) Convert a set of strings to a set of integers.

In [54]:
a={'1','2','3','4','5'}
b=set()

for char in a:
    value=int(char) # change string to integer by type casting
    b.add(value)
    
print("the set of integers:",b)

the set of integers: {1, 2, 3, 4, 5}

(35) Convert a set of integers to a set of strings.

In [55]:
a={10,20,30,40,50}
b=set()

for value in a:
    character=str(value) 
    b.add(character)
    
print("the set of integers:",b)

the set of integers: {'40', '30', '10', '50', '20'}

(36) Create a set from a tuple.

In [56]:
f=(25,35,45,55)

tup=set(f)
print(tup)

{25, 35, 45, 55}

(37) Convert a set to a tuple.

In [57]:
g={25,35,45,55}

s=tuple(g)
print(s)

(25, 35, 45, 55)

(38) Find the maximum value in a set.

In [64]:
set_q=([8,16,24,32,89,100,34])
print(max(set_q))

100

(39) Find the maximum value in a set.

In [65]:
set_q=([8,16,24,32,89,100,34])
print(min(set_q))

8

(40) Create a set from user input

In [66]:
import ast

In [70]:
user_input=input("enter space-separated string : ")
my_set=set(str(item) for item in user_input.split())
my_set

enter space-separated string : enhance power wealth and status

{'and', 'enhance', 'power', 'status', 'wealth'}

(41) Check if the intersection of two sets is empty.

In [73]:
x={"apple","banana","cherry"}
y={"google","microsoft","yahoo"}

if x.intersection(y):
    print("the intersection of two set is not empty")
else:
       print("the intersection of two set is empty")

the intersection of two set is empty

(42) Create a set of the first 5 Fibonacci numbers.

In [101]:
fib_series=set()

a,b=0,1

for i in range(6):
    c=a+b
    a=b
    b=c
    fib_series.add(a)
    
print("fibonacci series :",fib_series)

fibonacci series : {1, 2, 3, 5, 8}

(43) Remove duplicates from a list using sets.

In [102]:
lst=["hi","hello",23,45,65,23,"hi"]
type(lst)

list

In [103]:
using_set=set(lst)
using_set

{23, 45, 65, 'hello', 'hi'}

(44) Check if two sets have the same elements, regardless of their count.

In [105]:
myset1={12,90,43,56,72}
myset2={43,90,12}

(45) Create a set of the first `n` powers of 2.

In [8]:
def power(n):
    e_set=set()
    for i in range(n):
        n_power_of_2=2**i   ## n would be the power of value 2
        e_set.add(n_power_of_2)
    return e_set

In [9]:
n=5
power(n)
print(power(n))

{1, 2, 4, 8, 16}

(46) Find the common elements between a set and a list.

In [15]:
lst_a=[1,2,3,4,5]
set_b={4,5,6,7,8}
# both variable should be of same type to look for common elements
lst_b=list(set_b)
# creating an empty list to append values.
l=[]

for values in lst_a:
    if values in lst_b:
        l.append(values)
print("common elements: ",l)

common elements:  [4, 5]

(47) Create a set of the first `n` triangular numbers.

In [42]:
 def triangular_series(n):
    triangular_number=set()
    # for each iteration increase j by 1 and add it into k
    for i in range(1,n+1):
            triangular_formula= i * (i + 1) // 2 
            triangular_number.add(triangular_formula)
    return triangular_number

In [43]:
n=10
triangular_series(n)

{1, 3, 6, 10, 15, 21, 28, 36, 45, 55}

In [50]:
 #(or)  other way
    
def triangular_series(n):
    j=1
    k=1
    l=set()
    # for each iteration increase j by 1 and add it into k
    for i in range(1,n+1):
        j=j+1 # increase j by 1
        # add values of j into k and update k
        k=k+j
        l.add(k)
    print(l)

In [51]:
n=10
triangular_series(n)

{66, 3, 36, 6, 10, 45, 15, 21, 55, 28}

(48) Check if a set contains another set as a subset.

In [62]:
z={50,55,56,57,58}

x={55,56}

p=x.issubset(z)
print(p)

True

(49) Create a set of alternating 1s and 0s of length `n`.

In [106]:
def alternating_set(m):
    
    set_of_alterantive=set()
    
    for i in range(m):
        if i%2==0:
            set_of_alterantive.add(1)  # 1- for even.
        else:
            set_of_alterantive.add(0)    # 0 -for odd
            
    return set_of_alterantive

In [107]:
m=10
result=alternating_set(m)
print("The set of alternavtive for 1s and 0s: ",alternating_set(m))

The set of alternavtive for 1s and 0s:  {0, 1}

(50) Merge multiple sets into one.

In [82]:
set_1={1,2,3,4,5}
set_2={6,7,8,9,10}
set_3={11,12,13,14,15}

merge_1=set_1.union(set_2,set_3)
print("merge multiple sets: ",merge_1)

merge multiple sets:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}